/* ROOT VARIABLES */
    :root {
  --bulma-primary-h: 257deg;
  --bulma-primary-s: 60%;
  --bulma-primary-l: 55%;
  --bulma-link-h: 263deg;
  --bulma-link-l: 62%;
  --bulma-info-h: 261deg;
  --bulma-info-l: 36%;
  --bulma-success-h: 164deg;
  --bulma-success-s: 56%;
  --bulma-success-l: 48%;
  --bulma-warning-h: 34deg;
  --bulma-warning-s: 71%;
  --bulma-warning-l: 70%;
  --bulma-danger-h: 356deg;
  --bulma-danger-s: 71%;
  --bulma-danger-l: 73%;
  --bulma-scheme-h: 256;
  --bulma-light-invert-l: 13%;
  --bulma-dark-l: 17%;
  --bulma-family-primary: Lora, 'sans-serif';
}

/* GENERAL STYLING */
html {
    scroll-behavior: smooth;
}

.section .title {
    text-align: center;
    font-weight: 400;
    font-size: 3rem;
}

.section p {
    font-size: 1.25rem;
    line-height: 150%;
}

.section a {
    color: var(--bulma-title-color);
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: hsl(var(--bulma-primary-h), var(--bulma-primary-s), var(--bulma-primary-l));
    font-style: italic;
}

/* NAVBAR STYLING */


/* LOGO STYLING */

.rr-logo {
    position: relative;
    width: 2em;
    height: 2em;
    font-size:36px;
    font-family: 'Exile', system-ui;
    color:hsl(var(--bulma-primary-h), var(--bulma-primary-s), var(--bulma-primary-l));
    margin-left: 2rem;
}

.letter {
    position: absolute;
}

.primary {
    top: 0;
    left: 0;
}

.secondary {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

/* HERO STYLING */
.hero-body {
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    gap: 10%;
}

.hero-body img {
    height: 70vh;
}

.hero i {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: hsl(var(--bulma-primary-h), var(--bulma-primary-s), var(--bulma-primary-l))
}

.hero .title, .hero .subtitle {
    text-align: center;
}

.hero .title {
    font-size: 4rem;
    font-weight: 400;
    line-height: 1.5;
}

/* ELEVATOR PITCH */
.pitch {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-flow: row wrap;
}
.pitch button {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: hsl(var(--bulma-primary-h), var(--bulma-primary-s), var(--bulma-primary-l));
    border: none;
    align-self: center;
    text-align: center;
    box-shadow: none;
    border-radius: none;
    font-style: italic;
    transition: all ease-in-out 0.5s;
}

.pitch button:hover {
    background-color: rgba(0,0,0,0);
    font-size: 1.7rem;
    font-style: none;
    transition: all ease-in-out 0.5s;
}

/* GREATEST HITS */
.greatest .button-group {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.greatest button {
    margin: 0px 7.5px 0px;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: hsl(var(--bulma-primary-h), var(--bulma-primary-s), var(--bulma-primary-l));
    border: none;
    align-self: center;
    text-align: center;
    box-shadow: none;
    border-radius: none;
    font-style: italic;
    transition: all ease-in-out 0.5s;
    font-size: 1.5rem;
}

.greatest .button.is-checked {
    font-weight: 800;
    background: hsl(var(--bulma-primary-h), var(--bulma-primary-s), var(--bulma-primary-l));
    text-decoration-color: hsl(var(--bulma-button-h),var(--bulma-button-s),var(--bulma-button-color-l));
    transition: all ease-in-out 0.5s;
}

.greatest .card-header {
    width: 100%;
    justify-content: center;
}

.greatest .card-header-title {
    font-size: 1.4rem;
    font-weight: 600;
    width: 100%;
    text-align: center !important;
}

.greatest .content p {
    font-size: 1rem;
}

.greatest .card-footer {
    width: 100%;
    justify-content: center;
    font-size: 1.3rem;
    padding: 10px;
}

.greatest a {
    transition: all ease-in-out 0.5s;
    padding: 10px 20px;
    border-radius: 0.75rem;
}

.greatest a:hover {
    background: hsl(var(--bulma-primary-h), var(--bulma-primary-s), var(--bulma-primary-l));
    text-decoration-color: hsl(var(--bulma-button-h),var(--bulma-button-s),var(--bulma-button-color-l));
    transition: all ease-in-out 0.5s;
}

/* CONTACT ME */
#contact {
    text-align: center;
}

#contact .title {
    margin-bottom: 10px;
}

#contact ion-icon {
    font-size: 2rem;
    margin-right: 15px;
    color: hsl(var(--bulma-primary-h), var(--bulma-primary-s), var(--bulma-primary-l));
    transition: all ease-in-out 0.5s;
}

#contact ion-icon:hover {
    color: hsl(var(--bulma-scheme-h),var(--bulma-scheme-s),var(--bulma-scheme-main-l));
    transition: all ease-in-out 0.5s;
}

/* 
PORTFOLIO SETUPS
 */

 /* HERO STATS */
body.portfolio .hero-body {
    background-color: hsla(var(--bulma-scheme-h),var(--bulma-scheme-s),var(--bulma-scheme-main-l), 0.5)
}

body.portfolio .hero-body .column {
    text-align: center;
    align-items: center;
}

body.portfolio .hero-body .column no {
    font-size: 3rem;
    font-weight: 900;
    color: hsl(var(--bulma-primary-h), var(--bulma-primary-s), var(--bulma-primary-l));
    width: 100%;
    display: block;
 }

body.portfolio .brief p {
    line-height: 150%;
  }

 body.portfolio .brief i {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: hsl(var(--bulma-primary-h), var(--bulma-primary-s), var(--bulma-primary-l));
    color: var(--bulma-white);
 }